@import '../../style/media.scss';

.HomePage {
    h1 {
        color: #fff;
        text-align: center;
    }

    .cryptoNote {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 5rem;
            color: #fff;
            font-weight: 800;
            margin: 0;

            @include mobile {
                font-size: 40px;
            }

            &:nth-child(2) {
                margin-block-start: 20px;
                background-image: linear-gradient(25deg,#2600fc,#ff00ea);
                color: transparent;
                background-clip: text;
            }
        }

        a {
            text-decoration: none;
            color: #fff;
            font-size: 30px;
            background: linear-gradient(25deg,#2600fc,#ff00ea);
            margin-block-start: 2rem;
            padding: 1rem;
            border-radius: 10px;
        }

    }
}